@import "./theme.scss";

html,
body {
  color: $color-secondary;
  background-color: $color-primary;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.pokeman {
  display: grid;

  img {
    height: 8em;
  }
  h2 {
    text-transform: capitalize;
  }
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 2em 1em;
}
.container {
  min-width: 320px;
  max-width: 1160px;
  margin-inline: auto;
  padding-inline: 1em;
}
.loader {
  width: 100%;
  height: 0.25rem;
  background-color: $color-secondary;
  position: fixed;
  top: 0;
  z-index: 99;
  transition: background-color 50ms ease-in-out;
}
.loading {
  animation: load 500ms linear infinite alternate;
  @keyframes load {
    from {
      background-color: $color-secondary;
    }
    to {
      background-color: $color-accent;
    }
  }
}
.topbar {
  text-align: center;
  padding-block: 0.25em .5em;
  position: sticky;
  top: 0;
  z-index: 88;
  color: $color-primary;
  background-color: $color-secondary;
  box-shadow: $shadow-1;
}
// #ffffff
// #FF0000
// #CC0000
// #3B4CCA
// #FFDE00
// #B3A125
